.elementor-bc-flex-widget .elementor-418 .elementor-element.elementor-element-45a7df78.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-418 .elementor-element.elementor-element-45a7df78.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-418 .elementor-element.elementor-element-387da0d9{text-align:left;}.elementor-418 .elementor-element.elementor-element-387da0d9 .elementor-image img{width:80%;max-width:100%;}.elementor-418 .elementor-element.elementor-element-387da0d9 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-10d29d9a .elementor-heading-title{color:#D67317;font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;}.elementor-418 .elementor-element.elementor-element-609eba0a .elementor-heading-title{color:#D67317;font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;}.elementor-418 .elementor-element.elementor-element-61b19661 .elementor-heading-title{color:#D67317;font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;}.elementor-418 .elementor-element.elementor-element-6ac311e8 .elementor-heading-title{color:#D67317;font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:600;}.elementor-418 .elementor-element.elementor-element-4283f9c1 .elementor-heading-title{color:#D67317;font-family:"Open Sans", Sans-serif;font-size:20px;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .thumb a::before{background-color:rgba(0, 0, 0, 0.5);}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-gridstyle-5 .image-grid-content{background-color:rgba(0, 0, 0, 0.5);}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid{margin:-5px -5px -5px -5px;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content h2{text-align:center;color:#FFFFFF;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content p{text-align:center;color:#18012c;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content a.read-btn{color:#ffffff;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content a.read-btn:hover{color:#ffffff;}.elementor-418 .elementor-element.elementor-element-3ed97e45{border-style:solid;border-width:0px 0px 0px 0px;border-color:rgba(44, 143, 109, 0);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:10px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-3ed97e45 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper{text-align:left;}.elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper a, .elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper{color:#FFFFFF;}.elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper, .elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper a{font-family:"Open Sans", Sans-serif;}.elementor-418 .elementor-element.elementor-element-7918e9cc > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 10px;}.elementor-418 .elementor-element.elementor-element-4a106277{margin-top:0px;margin-bottom:10px;padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-1bc6edc7 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:16px;}.elementor-418 .elementor-element.elementor-element-1bc6edc7 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2fac31a3 .elementor-button{font-family:"Open Sans", Sans-serif;border-radius:10px 10px 10px 10px;padding:10px 10px 10px 10px;}.elementor-418 .elementor-element.elementor-element-2fac31a3 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-1739ba42{text-align:left;}.elementor-418 .elementor-element.elementor-element-1739ba42 .elementor-heading-title{font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:600;}.elementor-418 .elementor-element.elementor-element-1739ba42 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-32a02907 .elementor-button{font-family:"Open Sans", Sans-serif;border-radius:10px 10px 10px 10px;padding:10px 10px 10px 10px;}.elementor-418 .elementor-element.elementor-element-32a02907 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-522c5b0d .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-418 .elementor-element.elementor-element-522c5b0d .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-418 .elementor-element.elementor-element-522c5b0d .elementor-button{border-radius:25px 25px 25px 25px;}.elementor-418 .elementor-element.elementor-element-522c5b0d > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-9279437{margin-top:0px;margin-bottom:10px;}.elementor-418 .elementor-element.elementor-element-65fa2b99:not(.elementor-motion-effects-element-type-background), .elementor-418 .elementor-element.elementor-element-65fa2b99 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#54595F;}.elementor-418 .elementor-element.elementor-element-65fa2b99{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 30px 0px 30px;}.elementor-418 .elementor-element.elementor-element-65fa2b99 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px){.elementor-418 .elementor-element.elementor-element-31fd3130 > .elementor-element-populated{padding:20px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-10d29d9a .elementor-heading-title{font-size:18px;}.elementor-418 .elementor-element.elementor-element-609eba0a .elementor-heading-title{font-size:18px;}.elementor-418 .elementor-element.elementor-element-61b19661 .elementor-heading-title{font-size:18px;}.elementor-418 .elementor-element.elementor-element-6ac311e8 .elementor-heading-title{font-size:18px;}.elementor-418 .elementor-element.elementor-element-9c45c9c > .elementor-element-populated{padding:20px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-4283f9c1 .elementor-heading-title{font-size:18px;}.elementor-418 .elementor-element.elementor-element-4283f9c1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid{margin:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content h2{text-align:center;padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content p{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid .image-grid-content a.read-btn{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2d29758c > .elementor-widget-container{margin:0px 0px -0px 0px;padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-3ed97e45{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper, .elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper a{font-size:12px;}.elementor-418 .elementor-element.elementor-element-1bc6edc7 .elementor-heading-title{font-size:12px;}.elementor-418 .elementor-element.elementor-element-2fac31a3 .elementor-button{font-size:12px;}.elementor-418 .elementor-element.elementor-element-1739ba42 .elementor-heading-title{font-size:12px;}.elementor-418 .elementor-element.elementor-element-32a02907 .elementor-button{font-size:12px;}.elementor-418 .elementor-element.elementor-element-522c5b0d .elementor-button{font-size:12px;}.elementor-418 .elementor-element.elementor-element-65fa2b99{padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-418 .elementor-element.elementor-element-45a7df78{width:16.684%;}.elementor-418 .elementor-element.elementor-element-31fd3130{width:15.982%;}.elementor-418 .elementor-element.elementor-element-b94709f{width:15%;}.elementor-418 .elementor-element.elementor-element-46bd6e47{width:17.667%;}}@media(max-width:767px){.elementor-418 .elementor-element.elementor-element-387da0d9{text-align:center;}.elementor-418 .elementor-element.elementor-element-387da0d9 .elementor-image img{max-width:50%;}.elementor-418 .elementor-element.elementor-element-31fd3130{width:50%;}.elementor-418 .elementor-element.elementor-element-31fd3130 > .elementor-element-populated{padding:22px 22px 22px 22px;}.elementor-418 .elementor-element.elementor-element-29249b2{width:50%;}.elementor-418 .elementor-element.elementor-element-71a58f7f{width:50%;}.elementor-418 .elementor-element.elementor-element-3bdc05af{width:50%;}.elementor-418 .elementor-element.elementor-element-2d29758c .htmega-singleimage-grid{margin:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-2d29758c > .elementor-widget-container{padding:0px 0px 0px 30px;}.elementor-418 .elementor-element.elementor-element-3ed97e45{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-39d1b22b > .elementor-element-populated{padding:8px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper{text-align:center;}.elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper, .elementor-418 .elementor-element.elementor-element-7918e9cc .hfe-copyright-wrapper a{font-size:12px;letter-spacing:-0.5px;}.elementor-418 .elementor-element.elementor-element-7918e9cc > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-4a106277{padding:15px 0px 0px 0px;}.elementor-418 .elementor-element.elementor-element-1bc6edc7{text-align:center;}.elementor-418 .elementor-element.elementor-element-1bc6edc7 .elementor-heading-title{font-size:16px;}.elementor-418 .elementor-element.elementor-element-2fac31a3 .elementor-button{font-size:16px;}.elementor-418 .elementor-element.elementor-element-2fac31a3 > .elementor-widget-container{margin:15px 0px 15px 0px;}.elementor-418 .elementor-element.elementor-element-1739ba42{text-align:center;}.elementor-418 .elementor-element.elementor-element-1739ba42 .elementor-heading-title{font-size:16px;}.elementor-418 .elementor-element.elementor-element-32a02907 .elementor-button{font-size:16px;}.elementor-418 .elementor-element.elementor-element-32a02907 > .elementor-widget-container{margin:15px 0px 15px 0px;}.elementor-418 .elementor-element.elementor-element-522c5b0d .elementor-button{font-size:28px;padding:10px 10px 10px 10px;}.elementor-418 .elementor-element.elementor-element-65fa2b99{padding:0px 0px 0px 0px;}}/* Start custom CSS for html, class: .elementor-element-5a8477c6 */@media (max-width: 800px) {
li a {
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for htmega-imagegrid-addons, class: .elementor-element-2d29758c */@media (min-width: 320px) and (max-width: 1024px) {
    .htb-row {
    width: 50px;
    flex-wrap: nowrap;
}
  
  .htmega-image-gridstyle-5 .htb-row > [class*="col"] {
 padding: 10px!important;
}
  
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5a8477c6 */@media (max-width: 800px) {
li a {
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for htmega-imagegrid-addons, class: .elementor-element-2d29758c */@media (min-width: 320px) and (max-width: 1024px) {
    .htb-row {
    width: 50px;
    flex-wrap: nowrap;
}
  
  .htmega-image-gridstyle-5 .htb-row > [class*="col"] {
 padding: 10px!important;
}
  
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2fac31a3 *//*#button-511 {*/
/*    width: 100%;*/
/*}*/
@media (max-width: 600px) {
    #button-511 {
    width: 100%!important;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-32a02907 *//*@media (max-width: 600px) */
/*{ */
    
/*#button-511 {*/
/*    width: 100%;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-522c5b0d */#button-512 {
    position: fixed;
    bottom: 30px;
    right: 21px;
}


@media (max-width: 600px) 
{
   #button-512 {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 21px;
} 
.elementor-button-icon {
    margin-left: 0!important;
}
#button-512 span:nth-child(2n) {
    display: none;
}
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2fac31a3 *//*#button-511 {*/
/*    width: 100%;*/
/*}*/
@media (max-width: 600px) {
    #button-511 {
    width: 100%!important;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-32a02907 *//*@media (max-width: 600px) */
/*{ */
    
/*#button-511 {*/
/*    width: 100%;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-522c5b0d */#button-512 {
    position: fixed;
    bottom: 30px;
    right: 21px;
}


@media (max-width: 600px) 
{
   #button-512 {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 21px;
} 
.elementor-button-icon {
    margin-left: 0!important;
}
#button-512 span:nth-child(2n) {
    display: none;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5a8477c6 */@media (max-width: 800px) {
li a {
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for htmega-imagegrid-addons, class: .elementor-element-2d29758c */@media (min-width: 320px) and (max-width: 1024px) {
    .htb-row {
    width: 50px;
    flex-wrap: nowrap;
}
  
  .htmega-image-gridstyle-5 .htb-row > [class*="col"] {
 padding: 10px!important;
}
  
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5a8477c6 */@media (max-width: 800px) {
li a {
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for htmega-imagegrid-addons, class: .elementor-element-2d29758c */@media (min-width: 320px) and (max-width: 1024px) {
    .htb-row {
    width: 50px;
    flex-wrap: nowrap;
}
  
  .htmega-image-gridstyle-5 .htb-row > [class*="col"] {
 padding: 10px!important;
}
  
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2fac31a3 *//*#button-511 {*/
/*    width: 100%;*/
/*}*/
@media (max-width: 600px) {
    #button-511 {
    width: 100%!important;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-32a02907 *//*@media (max-width: 600px) */
/*{ */
    
/*#button-511 {*/
/*    width: 100%;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-522c5b0d */#button-512 {
    position: fixed;
    bottom: 30px;
    right: 21px;
}


@media (max-width: 600px) 
{
   #button-512 {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 21px;
} 
.elementor-button-icon {
    margin-left: 0!important;
}
#button-512 span:nth-child(2n) {
    display: none;
}
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-2fac31a3 *//*#button-511 {*/
/*    width: 100%;*/
/*}*/
@media (max-width: 600px) {
    #button-511 {
    width: 100%!important;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-32a02907 *//*@media (max-width: 600px) */
/*{ */
    
/*#button-511 {*/
/*    width: 100%;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-522c5b0d */#button-512 {
    position: fixed;
    bottom: 30px;
    right: 21px;
}


@media (max-width: 600px) 
{
   #button-512 {
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 21px;
} 
.elementor-button-icon {
    margin-left: 0!important;
}
#button-512 span:nth-child(2n) {
    display: none;
}
}/* End custom CSS */